body {
    margin: 0px;
    background-color: #F7EFF3;
    color: #576A8C;
    font-family: Arial, Haettenschweiler, 'Arial Bold', sans-serif;


}

nav {
    background-color: #98D9E7;
    width: 70px;
    height: 100%;
    position: fixed;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;


    border-color: #6dadbb;
    border-width: 5px;
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

.navItem {
    padding: 10px ;
}

.content {
    padding-left: 75px;
}
#gameNav {
  font-family: Comic Sans MS;


    height: 50px;
}
#gameFrame {
  border: none;
}
#gameWindow {
  margin-top: 15px;
  position: relative;
  border-width: 10px;
  border-style: none;
  border-color: #D9837E
  ;
  width: 500px;
  height: 500px;

}
h1 {
margin: 0px;
}


h2 {font-size: 20px}


a {
  cursor: pointer;
  color: #F7EFF3;
}

.dropbtn {
  font-family: inherit;

  background-color: inherit;
  color: inherit;
padding: 16px;
font-size: 18px;
border: none;
cursor: pointer;

}

.dropdown {
  cursor: pointer;

  text-align: center;
  background-color: #DE914F;
  color: #576A8C;
  border-style: solid;
  border-width: 5px;
  padding: 0px;
  width: 20%;
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #D9837E;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
min-width: 150px;}

.dropdown-content a {
  text-align: left;
color: #F7EFF3;
padding: 12px 16px;



display: block;
}

.dropdown-content a:hover {background-color: #bd726e}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #c78246;
}
.dropdown:hover {
  background: #c78246;
}

