h2 {font-size: 20px}
html {
font-family: Comic Sans MS;
}

a {
  cursor: pointer;
  color: slateblue
}
#gameFrame {
position: relative;

}
.dropbtn {
  background-color: gray;
  color: lightsteelblue;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
}

.dropdown {
  
  width: 15%;
  padding-right: 60px;
position: relative;
left:30px;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: grey;
min-width: 180px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: lightblue;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: lightslategrey}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: grey;
}
